/* colors */
/* type */
/* misc variables */
.product-single {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 50px; }

.product-single__headline {
  font-size: 5rem; }

.product-single__details__specs {
  font-size: 3rem; }
  .product-single__details__specs ul {
    list-style: none; }
    .product-single__details__specs ul span {
      display: inline-block; }
  .product-single__details__specs .label {
    width: 110px;
    color: #636572; }

.product-single__image {
  display: block;
  height: 600px;
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%; }

.product-single__price {
  font-size: 5rem;
  font-weight: 700; }
  .product-single__price .priceTag {
    font-size: 3.5rem; }
