@import '../../SharedStyles.scss';

footer {
    background-color: lighten($highlight-color-secondary, 10);
    color: black;
    font-weight: bold;

    .footer__copy {
        margin: 0;
        padding: 1.5rem;
        text-align: center;
        text-transform: uppercase;

        &__link {
            border-bottom: 1px dotted black;
            color: black;
            text-decoration: none;

            &:hover {
                border-bottom: 1px solid black;
            }
        }
    }
}